node_modules/*
./src/js/app.js
./jasmine/lib/jasmine-2.3.4/boot.js
./jasmine/lib/jasmine-2.3.4/console.js
./jasmine/lib/jasmine-2.3.4/jasmine.js
./jasmine/lib/jasmine-2.3.4/jasmine-html.js

./jasmine/lib/jasmine-2.3.4/jasmine.css
./gulpfile.js
karma.conf.js